/* Pseudoelementy */
#before .pierwszy::before {
    content: "przed elementem ";
    color: red;
}

#after .drugi::after {
    content: " po elemencie";
    color: green;
}

#first-letter p::first-letter {
    color: orangered;
    font-size: 30px;
}

#first-line p::first-line {
    background-color: lightgreen;
    color: darkgreen;
}

/* Pseudo klasy */
#link a:link {
    color: dimgray;
}

#link a:visited {
    color: lightgrey;
}

#before:hover {
    color: red;
}

#link a:active {
    background-color: lightgreen;
}

#focus input:focus {
    border: 5px solid green;
}

:target {
    background-color: blueviolet;
}

#lang p:lang(en) {
    background-color: aqua;
}

#childs .lista li:first-child {
    background-color: hotpink;
}

#childs .lista li:last-child {
    background-color: deeppink;
}

div span:only-child {
    background-color: mediumaquamarine;
}

div:empty {
    height: 100px;
    width: 100px;
    background-color: deepskyblue;
}

#kolejne_dzieci ul li:nth-child(3) {
    background-color:  brown;
}

#kolejne_dzieci ul li:nth-child(even) {
    color:  crimson;
}

#kolejne_dzieci ul li:nth-child(odd) {
    color: darkturquoise;
}

#kolejne_dzieci ul li:nth-child(3n+2) {
    font-size: 30px;
}

#kolejne_dzieci_odtylu ul li:nth-last-child(3) {
    font-size: 50px;
    background-color: bisque;
}

#kolejne_dzieci_odtylu ul li:nth-last-child(3n+2) {
    font-size: 75px;
}

/* Selektory atrybutów */
input[type="text"] {
    border: 10px solid hotpink;
}

input[type] {
    background-color: aquamarine
}

#attributes a[title~="opis"] {
    font-size: 40px;
}

#attributes a[title*="link"] {
    color: darksalmon;
}

#attributes a[title^="treść"] {
    background-color: beige;
}

#attributes a[title$="treści"] {
    font-style: italic;
}

/* FLOATONG */
#floating > div {
    float: left;
    width: 100px;
    height: 100px;
    background-color: chocolate;
}

/*
.clear {
    clear: left;
}
*/

#floating .clear {
    clear: both;
}

/* TRANSITIONS */
#transitions .hovered {
    width: 300px;
    height: 300px;
    background-color: gray;
    transition: all 3s ease-in-out;
    
}

#transitions .hovered:hover {
    background-color: green;
    
}

/* Właściwości tła */
#background {
    width: 1200px;
    height: 800px;
    margin: 10px auto;
    background-image: url(https://cdn.yamaha-motor.eu/product_assets/2016/XS850/950-75/2016-Yamaha-XSR900-EU-Garage-Metal-AccessorizedStatic-003.jpg);
    background-repeat: no-repeat;
    background-position: 10% center;
    background-attachment: scroll;
    background-size: cover:
}

/* Overflow */
#overflow {
    width: 300px;
    height: 300px;
    background-color: beige;
    font-size: 20px;
    overflow: hidden;
}

#overflow:hover {
    overflow: visible;
}

/* Box sizing */
#box_sizing {
    margin-top: 100px;
    width: 300px;
    height: 300px;
    background-color: chocolate;
    padding: 50px;
    box-sizing: border-box;
    border: 10px solid black;
}

/* RWD */
@media all and (max-width: 800px) {
    #box_sizing {
        width: 150px;
        height: 150px;
    }
}